#menu {
    background-color: black;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    color: #F0F0F0;
}

ul li .dropdown-menu {
    background-color: black;
}

#menu a {
    color: #F0F0F0;
}

#menu ul .open a {
    background-color: unset;
}

#menu a:hover, #menu a:focus, #menu ul .active a {
    background-color: unset;
    color: #fd7b52;
}

.body {

    background-color: #FD7B52;
    text-align: center;
}

.text
{
    color: #f2f2f2;
    font-size: 20px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    word-wrap: break-word;
    line-height: 17px;
}

